.usersContainer {
    border: 1px solid;
    background-color: #cae1ee;
    min-height: 100vh;
}

.userBox {
    background-color: #fff;
}

.photo {
    width: 60px;
    height: 60px;
}

.selectedPage {
    font-weight: bold;
}