/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Mulish:ital,wght@0,200;0,800;1,200&display=swap"); */

.header {
  grid-area: h;
  background-color: rgb(36, 33, 211);
}

.socialNetStyle {
  font-family: Mulish;
  font-weight: 600;
  color: #fff;
  justify-self: center;
  text-align: center;
}

.header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid #fff;
  object-fit: cover;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: white;
}
