.nav {
  grid-area: n;
  background-color: #aaaae0;
  padding: 30px;
  text-align: center;
  height: 90vh;
}

.item {
  margin-bottom: 10px;

}

.item a {
  font-weight: 300;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.item a.active {
  color: #1313a5;
}

.item {
  transition: all 0.2s ease-in-out;
}

.item:hover {
    transform: scale(1.1); 
}
